/* Josh W Comeau CSS Reset https://www.joshwcomeau.com/css/custom-css-reset/ */
/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
    box-sizing: border-box;
  }
  /* 2. Remove default margin */
  * {
    margin: 0;
  }
  /* 3. Enable keyword animations */
  @media (prefers-reduced-motion: no-preference) {
    html {
      interpolate-size: allow-keywords;
    }
  }
  body {
    /* 4. Add accessible line-height */
    line-height: 1.5;
    /* 5. Improve text rendering */
    -webkit-font-smoothing: antialiased;
  }
  /* 6. Improve media defaults */
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  /* 7. Inherit fonts for form controls */
  input, button, textarea, select {
    font: inherit;
  }
  /* 8. Avoid text overflows */
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  /* 9. Improve line wrapping */
  p {
    text-wrap: pretty;
  }
  h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
  }
  /*
    10. Create a root stacking context
  */
  #root, #__next {
    isolation: isolate;
  }

  /* Begin Styles */
  body {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings: "width" 100;
  }
  
  .top-container {
    background-color: #1f2937;
    align-items: center;
    justify-content: center;
    padding: 20px 0;
  }

  .header {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0;
    gap: 16px;
  }

  .logo, .header-links {
    display: flex;
    align-items: center;
    gap: 16px;
  }

  .logo {
    align-items: start;
  }

  .header-links {
    align-items: end;
  }
  
  .logo img {
    -webkit-filter: invert(100%); /* safari 6.0 - 9.0 */
            filter: invert(100%);
  }

  .header .link a,
  .hero-subtext {
    font-size: 18px;
    color: #e5e7eb;
    text-decoration: none;
  }

  .header .link a:hover {
    text-decoration: underline;
    color: #f9faf8;
  }

  .hero {
    padding: 100px 0;
    display: flex;
    gap: 16px;
    max-width: 1200px;
    margin: 0 auto;
  }

  .hero-left {
    flex: 1;
  }

  .hero-text {
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;
    line-height: 1;
  }

  .hero-subtext {
    margin: 0 0 10px 0;;
  }

  .hero-button {
    background-color: #3882f6;
    color: #f9faf8;
    border: 2px solid #3882f6;
    border-radius: 10px;
    padding: 5px 30px;
    font-weight: 700;
    font-size: 18px;
  }

  .hero-button:hover {
    background-color: #f9faf8;
    color: #3882f6;
    border: 2px solid #f9faf8;
  }

  .content {
    padding: 50px 0 100px 0;
  }

  .content-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    flex-wrap: wrap;
    max-width: 960px;
    margin: 0 auto;
  }

  .content-flex .single {
    flex: 0 1 170px;
    text-align: center;
    color: #666;
  }

  .content-title {
    font-size: 36px;
    color: #1f2937;
    font-weight: 900;
    padding-bottom: 50px;
    text-align: center;
  }

  .content-image img {
    border: 5px solid #3882f6;
    border-radius: 10px;
  }

  .content-text {
    font-size: 18px;
  }

  .quote {
    background-color: #e5e7eb;
    padding: 100px 0;
  }

  .quote-text,
  .quote-author {
    max-width: 800px;
    margin: 0 auto;
  }

  .quote-text {
    font-size: 36px;
    color: #1f2937;
    font-weight: 100;
    font-style: italic;
  }

  .quote-author {
    color: #1f2937;
    font-weight: 900;
    font-size: 24px;
    text-align: right;
  }

  .cta {
    background-color: #3882f6;
    color: #f9faf8;
    padding: 50px;
    border-radius: 10px;
    max-width: 960px;
    margin: 100px auto;
    display: flex;
    justify-content: space-evenly;
  }

  .cta .title {
    font-size: 24px;
    font-weight: 700;
  }

  .cta .text {
    font-size: 18px;
    margin: -4px 0 0 0;
  }

  .cta-button {
    background-color: #3882f6;
    color: #f9faf8;
    border: 2px solid #f9faf8;
    border-radius: 10px;
    padding: 5px 30px;
    font-weight: 700;
    font-size: 18px;
  }

  .cta-button:hover {
    background-color: #f9faf8;
    color: #3882f6;
    border: 2px solid #f9faf8;
  }

  .footer {
    background-color: #1f2937;
    color: #f9faf8;
    font-size: 18px;
    padding: 40px 0;
    text-align: center;
  }
  
  .footer a {
    color: #aaa;
    text-decoration: none;
  }

  .footer a:hover {
    color: #f9faf8;
    text-decoration: underline;
  }
